<section class="clsdash bg-primary">
        <h1> ABC Stores </h1>


        <h3> Located in Welington Road,Singapore </h3>
    <input type="text" [(ngModel)]="discount" placeholder="Enter discount percent">

    <div></div>
    <!-- <h3> Message from Item  {{datafrmchild}} </h3>
        
        <app-item  [discountprice]="discount" (sendMessage)="parentHandler($event)"></app-item>

        <button (click)="logData()">Show Log</button> -->


        <app-viewitems></app-viewitems>

       
</section>
